---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$breakpoint: 800px;

body, html {
    width: 100%;
    margin: 0;

    font-family: "Helvetica Neue", sans-serif;
    color: #333333;
    background: #eeeeee;
}

main {
    width: 100%;
}

.periodic-table {
    display: grid;

    // 18 groups, 9 periods + 2 f-block rows + 1 spacer row
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(12, 1fr);


    max-width: 1500px;
    height: 80vh;
    padding-top: 10vh;
    margin: 0 auto;    
    grid-gap: 8px;

    @media screen and (max-width: $breakpoint) {
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(max-content, 1fr);
    }
}

.element, .example-element {
    text-align: center;
    position: relative;
    margin: 0 !important;
    margin-left: -1px;
    cursor: pointer;
    .symbol {
        font-size: 28px;
        display: block;
        line-height: 16px;
    }
    .number {
        font-size: 12px;
        @media screen and (max-width: $breakpoint) {
            font-size: 32px;
        }
    }
    .atomic {
        font-size: 12px;
    }
    .name {
        display: block;
        font-size: 12px;
    }
    &.noble.gas {
        background-color: #77CCFF;
    }
    &.nonmetal {
        background-color: #22FF22;
    }
    &.metalloid {
        background-color: #77DD88;
    }
    &.post-transition {
        background-color: #99DDCC;
    }
    &.transition {
        background-color: #DDBBBB;
    }
    &.lanthanide {
        background-color: #FFBB99;
    }
    &.actinide {
        background-color: #EEBBDD;
    }
    &.alkali {
        background-color: #FFCC33;
    }
    &.alkaline {
        background-color: #FFFF44;
    }
}

.example-element {
    grid-row: 1 / 3;
    grid-column: 4 / 6;   
    background: #FFF;
    * {
       margin: 18px 0;
    }
    .symbol {
        margin-top: 46px;
    }
}

.key {
    grid-row: 1 / 4;
    grid-column: 6 / 13;
    background: #FFF;
    h5 {
        text-align: center;
    }
    .element {
        width: 78px;
        margin: 16px;

    }
    > * {
        display: none;
        height: 100%;
        &.active {
            display: flex;
        }
        &#key_category.active {
            display: block;
        }
    }
    > *:not(#key_category) {
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        h5 {
            width: 100%;
        }
        span {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

nav {
    position: fixed;
    top: 0;
    z-index: 99;
}

.container.about {
    margin-top: 15vh;
}

.spacer {
    grid-column: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    &.first {
        grid-row: 6
    }
    &.second {
        grid-row: 7
    }
    @media screen and (max-width: $breakpoint) {
        display: none;
    }
}

@media screen and (min-width: $breakpoint) {

/**
     * Groups and periods for CSS grid
     */
    .group-1  { grid-column: 1 }
    .group-2  { grid-column: 2 }
    .group-3  { grid-column: 3 }
    .group-4  { grid-column: 4 }
    .group-5  { grid-column: 5 }
    .group-6  { grid-column: 6 }
    .group-7  { grid-column: 7 }
    .group-8  { grid-column: 8 }
    .group-9  { grid-column: 9 }
    .group-10 { grid-column: 10 }
    .group-11 { grid-column: 11 }
    .group-12 { grid-column: 12 }
    .group-13 { grid-column: 13 }
    .group-14 { grid-column: 14 }
    .group-15 { grid-column: 15 }
    .group-16 { grid-column: 16 }
    .group-17 { grid-column: 17 }
    .group-18 { grid-column: 18 }

    .period-1  { grid-row: 1 }
    .period-2  { grid-row: 2 }
    .period-3  { grid-row: 3 }
    .period-4  { grid-row: 4 }
    .period-5  { grid-row: 5 }
    .period-6  { grid-row: 6 }
    .period-7  { grid-row: 7 }
    .period-8  { grid-row: 8 }
    .period-9  { grid-row: 9 }

    .f-block {
        &.period-6 {
            grid-row: 11;
        }
        &.period-7 {
            grid-row: 12;
        }
    }

    .element[data-element="71"] {
        grid-row: 11;
    }
    .element[data-element="103"] {
        grid-row: 12;
    }
    .element[data-element="90"] {
        grid-column: 2;
    }

}

.element-dialog {
    position: fixed !important;
    top: 15vh;
    left: 10%;
    right: 10%;
    display: none;
    max-height: 90vh;
    &.active {
        display: block;
    }
    @media screen and (max-width: $breakpoint) {
        left: 0;
        right: 0;
    }
}

ul#colorbytrend {
    * {
        color: #333333 !important;
    }
}

table {
    tr, td {
        padding: 5px;
    }
}